#dlg-overlay{
	display: none;
	opacity: .9;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
  height: 100%;
	width: 100%;
	z-index: 10;
}
#dlg-box{
	display: none;
	position: absolute;
	background: #444;
	border-radius:5px;
  top:         50%;
  left:        50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*
  margin-left: -275px;
  */
	width:       550px;
	z-index:     10;
  padding:     5px;
}
#dlg-box #dlg-top { width: 100%; display: flex; }
#dlg-box #dlg-top > #dlg-title{ width: 95%; }
#dlg-box #dlg-top > #dlg-x    { width: 5%;  }
#dlg-box #dlg-top > #dlg-x > button { background-color: transparent; border: none; }

#dlg-box > #dlg-head{
  font-size:19px;
  padding: 5px;
  color:#CCC;
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
}
#dlg-box > #dlg-body{ background: #333; padding:20px; color:#FFF; }
#dlg-box > #dlg-body > label  { padding-left: 0.25rem; } /* Add "display: block" for label on top positioning */
#dlg-box > #dlg-foot{
  padding: 5px 5px 0px 5px;
  text-align:right;
  -webkit-user-select:none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
}

#dlg-box > #dlg-foot > button {
  padding: 5px 20px 5px 20px;
  margin: 5px 0px 5px 0px;
  border: transparent;
  border-radius: 3px;
}

#dlg-box > #dlg-foot > button:hover {
  --tw-text-opacity: 1;
  box-shadow: #CCC;
  background-color: rgba(96, 165, 250, var(--tw-text-opacity));
}
